<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
			<beans>
			<bean id="t" class="beans.Test">
			<property name="gender" value="Mr."/>
			<property name="name" value="Sainath"/>
			
			<property name="car">
			
			<bean id="c" class="beans.Car">
				<property name="carname" value="velostar"/>
				<property name="year" value="2016"/>
			</bean>
			
			</property>
			</bean>
			
			</beans>